.container{
    width:1170px;
    margin:0 auto;
}

header{
    position:relative;
    width:100%;
    background:rgba(0,0,0,0.5);
    text-align:center;
    line-height:200px;
    font-size:50px;
    z-index: 1;
}

header .container{
    background:rgb(0,0,0);
}

.hd_fixed{
    position:fixed;
    top:0;
    left:0;
    width:100%;
}

header h1{
    color:#fff;
}

.banner {
    width:100%;
    height: 700px;
    background-color: aqua;
}
.imgbox {
    position: relative;
    background-color: blue;
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.imgbox h2{
    text-align: center;
    line-height:600px;
    color: #fff;
    font-size: 50px;
}
.gellery .container{
    padding-top: 50px;
    margin: 0 auto;
}
.gellery .container p{
    font-size: 30px;
}
.gallery_imgbox {
    margin-top: 30px;
    background-color: aqua;
    width: 1170px;
    height: 500px;
}
.notice .container {
    padding-top: 50px;
    margin: 0 auto;
}
.notice .container p {
    font-size: 30px;
}
.notice_imgbox {
    padding-right: 36px;
    display: inline-block;
    margin-top: 30px;
    width: 350px;
    height: 200px;
    background-color: #555555;
    text-align: center;
    font-size: 30px;
    color: #fff;
    line-height: 200px;
}
.notice_imgbox-text {
    display: block;
}
.notice_imgbox-text h2{
    margin: 0 auto;
    color: #555555;
    line-height: 10px;
    font-size: 25px;
    padding-top: 20px;
    text-align: left;
    font-weight: bold;
}
.notice_imgbox .title_sub {
    margin: 0 auto;
    color: #555555;
    line-height: 20px;
    font-size: 18px;
    padding-top: 18px;
    text-align: left;
}
.news .container {
    padding-top: 50px;
    margin: 0 auto;
}
.news .container {
    font-size: 30px;
}
.news .container_warp {
    display: inline-block;
    margin-right: 30px;
}
.news .container_warp2 {
    display: inline-block;
}
.news_imgbox{
    display: inline-block;
    width: 250px;
    height: 150px;
    background-color: aqua;
    margin-top: 30px;
    margin-right: 20px;
}
.news_imgbox2{
    display: inline-block;
    width: 575px;
    height: 150px;
    background-color: aqua;
    margin-top: 30px;
}
footer{
    margin-top: 50px;
    background-color: #555555;
    height: 250px;
}
footer p{
    font-size: 50px;
    color: #fff;
    text-align: center;
    line-height: 250px;
}