.container{
    width:1170px;
    margin:0 auto;
}

header{
    position:relative;
    width:100%;
    background:rgba(0,0,0,0.5);
    text-align:center;
    line-height:200px;
    font-size:50px;
}

header .container{
    background:rgb(0, 195, 255);
}

.hd_fixed{
    position:fixed;
    top:0;
    left:0;
    width:100%;
}

header h1{
    color:#fff;
}

.banner {
    width:100%;
    background-color: aqua;
}
.banner h2{
    color: #fff;
    font-size: 50px;
    text-align: center;
    background-color: blue;
    width: 1170px;
    justify-content: center;
}
.gellery .container{
    text-align:center;
    height:1000px;
}